.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 16px;
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 0;
  margin-bottom: 16px;
  border-bottom: 1px solid black;
}
.wrapper-contact {
  display: flex;
  align-items: center;
  align-items: flex-start;
  gap: 12px;
  flex-direction: column;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: gray;
}

.link.active {
  color: blue;
}
.app {
  width: 1000px;
  margin-left: 20px;
  background-color: white;
  overflow: auto;
}
.main-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  margin-bottom: 5px;
  margin-top: 10px;
}
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: gray;
  margin-top: 5px;
  margin-bottom: 5px;
}

.phonebook {
  border: 1px solid black;
  width: 500px;
}
.phonebook-form {
  margin-left: 15px;
}

.button-add {
  margin-top: 15px;
  display: block;
  margin-bottom: 10px;
}
.contacts {
  margin-left: 5px;
}
.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-top: 25px;
}
.list-item {
  margin-bottom: 7px;
}
.button-delete {
  margin-left: 15px;
}
